<!DOCTYPE html>
<html>
<head>
  <title>Epic Energy Services</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" th:href="@{/css/layout.css}"/>
</head>
<img alt="" src="resources/static/logo_epicode.png">

<body>
<div class="header-menu">Epic Energy Services</div>
<div class="container-menu">
  <div class="item-menu"><a href="/clienti/mostraelenco">Gestione clienti</a></div>
  <div class="item-menu"><a href="/fatture/mostraelenco">Gestione fatture</a></div>
  <div class="item-menu"><a href="/comuni/mostraelenco">Gestione comuni</a></div>
  <div class="item-menu"><a href="/province/mostraelenco">Gestione province</a></div>
   <div class="item-menu"><a href="/indirizzi/mostraelenco">Gestione indirizzi</a></div>
</div>
<div class="footer" style="background-color: red">Powered by Epicode School</div>

</body>
</html>